<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular4" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <!--<rule name="301 Redirect 1" stopProcessing="true">
          <match url="^7alterations\.com$" />
          <action type="Redirect" url="http://www.7alterations.com.au" redirectType="Permanent" />
        </rule>
        <rule name="301 Redirect 2" stopProcessing="true">
          <match url="^www\.7alterations\.com$" />
          <action type="Redirect" url="http://www.7alterations.com.au" redirectType="Permanent" />
        </rule>-->
        <rule name="301 Redirect 3" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <!--<add input="{HTTP_HOST}" negate="true" pattern="^7alterations\.com$" />-->
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.7alterations\.com.au$" />
             <!--<add input="{HTTP_HOST}" negate="true" pattern="^7alterations\.com\.au$" />-->
          </conditions>
          <action type="Redirect" url="http://www.7alterations.com.au" redirectType="Permanent" />
        </rule>
        <!--<rule name="301 Redirect 4" stopProcessing="true">
          <match url="!^www\.7alterations\.com\.au$" />
          <action type="Redirect" url="http://www.7alterations.com.au" redirectType="Permanent" />
        </rule>-->
      </rules>
    </rewrite>
    <caching>
      <profiles>        
          <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1:00:00" />
          <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1:00:00" />
          <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1:00:00" />
          <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1:00:00" />
          <add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1:00:00" />
      </profiles>
  </caching>
  </system.webServer>
  <system.web>		
  <customErrors mode="On" defaultRedirect="/404page.html">
     <error statusCode="404" redirect="/404page.html" />
   </customErrors>
   <httpRuntime enableVersionHeader="false" />
  </system.web>	
</configuration>